<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="mVO" type="com.increpas.jjs.vo.MemberVO" />
	</typeAliases>
	
	<mappers>
		<mapper resource="com/increpas/jjs/sql/MemberSQL.xml" />
	</mappers>
</configuration>